body {
    background: rgb(209, 204, 190);
}

.menu a {
    color: rgb(82, 70, 47);
    font-size: 20px;
    font-weight: bolder;
    font-style: italic;
    font-variant: small-caps;
}

.menu {
    list-style-type: none;
}

.title {
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 400;
    background-color: rgb(247, 241, 228);
}

.kratko {
    color: rgb(0, 0, 0);
    font-size: 14px; 
    font-style: italic; 
    line-height: 16px; 
}

.podrobno {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    list-style-type: square;
}
